<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CinemaDB</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/movies.css">
    </head>
<body>

    <div class="navbar">
        <a href="#" class="logo">CinemaDB</a> <!-- Replace "#" with your actual logo link -->
        <a href="/screenings">Screening Plays</a> <!-- Replace "#" with your actual link -->
        <a href="/movies">Movies</a> <!-- Replace "#" with your actual link -->
        <a href="/screens">Screen Rooms</a> <!-- Replace "#" with your actual link -->
        <!-- Add more navigation links here -->
        <div class="navbar-right">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div style="padding-top: 60px;"> <!-- Padding to ensure content doesn't hide behind the fixed navbar -->
        <!-- Your page content goes here -->
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th> </th>
                <th></th>
                <th></th>
                <th>Invalid Data Entered. Please Try Again!</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>

</html>